<div class="product-detail-container"
     *ngIf="detailSignal()">
    <span class="title">{{detailSignal()!.title}}</span>

    <div class="product-detail">
        <div>
            <span>Brand:</span>
            <br>
            <span>Category:</span>
            <span>Price:</span>
            <span>Discount</span>
            <span>Rating:</span>
            <span>Description:</span>
        </div>

        <div>
            <span>{{detailSignal()!.brand}}</span>
            <br>
            <span>{{detailSignal()!.category}}</span>
            <span>{{detailSignal()!.price}} $</span>
            <span>{{detailSignal()!.discountPercentage}} %</span>
            <span>{{detailSignal()!.rating}}</span>
            <span>{{detailSignal()!.description}}</span>
        </div>

        <div>
            <div>
                <button mat-raised-button
                        color="primary"
                        (click)="addToCart()">Add to Cart</button>
            </div>

            <br>
            <br>
            <br>

            <div *ngIf="detailSignal()!.quantity">
                <div class="quantity">
                    <span>Quantity:</span>
                    <span> {{detailSignal()!.quantity}}</span>
                </div>

                <div class="quantityButtons">
                    <button (click)="changeQuantity(true)"
                            mat-raised-button>+</button>

                    <button (click)="changeQuantity(false)"
                            mat-raised-button>-</button>
                </div>
            </div>
        </div>
    </div>
</div>