<div class="product-detail-container"
     *ngIf="productDetail">
    <span class="title">{{productDetail.title}}</span>

    <div class="product-detail">
        <div>
            <span>Brand:</span>
            <br>
            <span>Category:</span>
            <span>Price:</span>
            <span>Discount</span>
            <span>Rating:</span>
            <span>Description:</span>
        </div>

        <div>
            <span>{{productDetail.brand}}</span>
            <br>
            <span>{{productDetail.category}}</span>
            <span>{{productDetail.price}} $</span>
            <span>{{productDetail.discountPercentage}} %</span>
            <span>{{productDetail.rating}}</span>
            <span>{{productDetail.description}}</span>
        </div>

        <div>
            <button mat-raised-button
                    color="primary">Add to Cart</button>
        </div>
    </div>

    <div class="product-image">
        <img [src]="productDetail.thumbnail">
    </div>
</div>